streamlit
pandas
numpy
requests
beautifulsoup4
plotly
folium
streamlit-folium
streamlit-js-eval
python-dotenv
better-profanity
openai
scikit-learn
pytz
matplotlib
pdfplumber
defusedxml
geopy
pydeck
pillow
branca
streamlit-autorefresh
trafilatura
